<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Screwit INITIALIZR</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<div id="container" class="form">
    <div class="container-fluid">
        <div class="row start-header">
            <div class="container">
                <h1>Screwit INITIALIZR
                    <small>bootstrap your application now</small>
                </h1>
            </div>
        </div>
        <div class="container start-main">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group full name-form-group">
                        <label for="project" class="control-label">Project</label>
                        <input tabindex="6" id="project" class="form-control" type="text" value="" placeholder="Demo" v-model="project" name="project">
                    </div>
                    <div class="form-group full name-form-group">
                        <label for="modules" class="control-label">Modules</label>
                        <input tabindex="8" id="modules" class="form-control" type="text" value="" placeholder="Use ';' or ',' to separate your modules" v-model="modules" name="modules">
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="text-center">
                    <button tabindex="12" name="generate-project" type="submit" class="btn btn-lg btn-primary" v-on:click="generate" role="button">Generate Project</button>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-resource"></script>
<script>
(function(Vue) {
    new Vue({
        el: '#container',

        data: {
            project: "Demo",
            modules: "Box",
        },

        methods: {
            generate: function() {
                window.open("/generate?" + "project=" + this.project + "&" + "modules=" + this.modules);
            }
        }
    });
})(Vue);

</script>
</html>